<h1>Admin Homepage</h1>
<ul class="admin-index-btns">
  <li><%= link_to 'Current Season', admin_season_path(@current_season) %></li>
  <li><%= link_to 'Season Admin', admin_seasons_path %></li>
  <li><%= link_to 'Player Admin', admin_players_path%></li>
  <li><%= link_to 'Roster Admin', admin_rosters_path%></li>
</ul>
