<div class="row">
  <div class="col xs12">
    <ul class="tabs team-tabs">
      <li class="tab col xs2"><a href="#">Game History</a></li>
      <li class="tab col xs2"><a href="#">Players</a></li>
      <li class="tab col xs2"><a class="active" href="#">Schedule / Result</a></li>
      <li class="tab col xs2"><a href="#">Team Stat</a></li>
      <li class="tab col xs2"><a href="#">Player Stat</a></li>
      <li class="tab col xs2"><a href="#">Gamelog</a></li>
    </ul>
  </div>
</div>
