<div class="row">
  <div class="col xs12">
    <ul class="tabs team-tabs">
      <li class="tab col xs3"><a class="active" href="#tab-player">Players</a></li>
      <li class="tab col xs3"><a href="#tab-schedule">Schedule</a></li>
      <li class="tab col xs3"><a href="#tab-result">Result</a></li>
      <li class="tab col xs3"><a href="#tab-gamelog">Gamelog</a></li>
    </ul>
  </div>
</div>
