
<div class="section title-section" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="white-text center-on-small-only">About</h1>
        <h4 class ="white-text center-on-small-only">Learn about the Material Design and project component</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--  Outer row  -->
  <div class="row">

    <div class="col s12">
      <!--  Material Design -->
      <div class="section">
        <h2 class="header">Material Design</h2>
        <p class="caption">Created and designed by Google, Material Design is a design language that combines the classic principles of successful design
          along with innovation and technology. Google's goal is to develop a system of design that allows for a unified user experience
          across all their products on any platform.</p>
        <div class="video-container">
          <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row section">
          <h3 class="header light">Principles</h3>
          <div class="col s12 l4">
            <h4 class="center">Material is the metaphor</h4>
            <p class="light">The metaphor of material defines the relationship between space and motion. The idea is that the technology is inspired by paper and ink and is utilized to facilitate creativity and innovation. Surfaces and edges provide familiar visual cues that allow users to quickly understand the technology beyond the physical world.</p>
            <br>
          </div>

          <div class="col s12 l4">
            <h4 class="center">Bold, graphic, intentional</h4>
            <p class="light">Elements and components such as grids, typography, color, and imagery are not only visually pleasing, but also create a sense of hierarchy, meaning, and focus. Emphasis on different actions and components create a visual guide for users.</p>
            <br>
          </div>

          <div class="col s12 l4">
            <h4 class="center">Motion provides meaning</h4>
            <p class="light">Motion allows the user to draw a parallel between what they see on the screen and in real life. By providing both feedback and familiarity, this allows the user to fully immerse him or herself into unfamiliar technology. Motion contains consistency and continuity in addition to giving users additional subconscious information about objects and transformations.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col s12">
      <div class="section">
        <h2 class="header">Font Awesome</h2>
        <p class="caption">Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.</p>
        <div class="">
          <%= link_to 'Font Awesome icons', 'http://fontawesome.io/icons/', target: '_blank'%><br>
          <%= link_to 'Font Awesome Examples', 'http://fontawesome.io/examples/', target: '_blank'%>
        </div>

      </div>
    </div>


  </div>
</div> <!-- End Container -->
