<div class="section title-section" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col xs12">
                <h1 class="white-text center-on-small-only">Match Stat</h1>
            </div>
        </div>
    </div>
</div>

<div class="match-stat container">
  <div class="match-stat-header">
    <h3 class="center-on-small-only">Team Stat</h3>
    <div class="row">
      <div class="col xs6">
        <div class="team-legend team-legend-home text-center"><img src='http://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/tor.png'/> Home Team</div>
      </div>
      <div class="col xs6">
        <div class="team-legend team-legend-away text-center"><img src='http://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/tor.png'/> Away Team</div>
      </div>
    </div>
    <div class="row row-match-stat-1">
      <div class="stat-item col xs12 m4 text-center">
        <div class="item-rect home-team-rect">
          <div class='data-rect padding-all-sm'>HOME</div>
          <div class='data-text'>55</div>
        </div>
        <div class="item-rect away-team-rect">
          <div class='data-rect padding-all-sm'>AWAY</div>
          <div class='data-text disadvantage'>45</div>
        </div>
        <div class="item-text font-weight-semi-bold padding-all-sm">PTS</div>
      </div>

      <div class="stat-item col xs12 m4 text-center">
        <div class="item-rect home-team-rect">
          <div class='data-rect padding-all-sm'>HOME</div>
          <div class='data-text'>20</div>
        </div>
        <div class="item-rect away-team-rect">
          <div class='data-rect padding-all-sm'>AWAY</div>
          <div class='data-text disadvantage'>15</div>
        </div>
        <div class="item-text font-weight-semi-bold padding-all-sm">REB</div>
      </div>

      <div class="stat-item col xs12 m4 text-center">
        <div class="item-rect home-team-rect">
          <div class='data-rect padding-all-sm'>HOME</div>
          <div class='data-text'>6</div>
        </div>
        <div class="item-rect away-team-rect">
          <div class='data-rect padding-all-sm'>AWAY</div>
          <div class='data-text disadvantage'>8</div>
        </div>
        <div class="item-text font-weight-semi-bold padding-all-sm">AST</div>
      </div>
    </div>


    <div class="row row-match-stat-2">
      <div class="stat-item col xs12 m2 text-center">
        <div class="item-rect home-team-rect">
          <div class='data-rect padding-all-sm'>HOME</div>
          <div class='data-text'>55</div>
        </div>
        <div class="item-rect away-team-rect">
          <div class='data-rect padding-all-sm'>AWAY</div>
          <div class='data-text disadvantage'>45</div>
        </div>
        <div class="item-text font-weight-semi-bold padding-all-sm">STL</div>
      </div>

      <div class="stat-item col xs12 m2 text-center">
        <div class="item-rect home-team-rect">
          <div class='data-rect padding-all-sm'>HOME</div>
          <div class='data-text'>20</div>
        </div>
        <div class="item-rect away-team-rect">
          <div class='data-rect padding-all-sm'>AWAY</div>
          <div class='data-text disadvantage'>15</div>
        </div>
        <div class="item-text font-weight-semi-bold padding-all-sm">BLK</div>
      </div>

      <div class="stat-item col xs12 m2 text-center">
        <div class="item-rect home-team-rect">
          <div class='data-rect padding-all-sm'>HOME</div>
          <div class='data-text'>6</div>
        </div>
        <div class="item-rect away-team-rect">
          <div class='data-rect padding-all-sm'>AWAY</div>
          <div class='data-text disadvantage'>8</div>
        </div>
        <div class="item-text font-weight-semi-bold padding-all-sm">TOV</div>
      </div>

      <div class="stat-item col xs12 m2 text-center">
        <div class="item-rect home-team-rect">
          <div class='data-rect padding-all-sm'>HOME</div>
          <div class='data-text'>55.5%</div>
        </div>
        <div class="item-rect away-team-rect">
          <div class='data-rect padding-all-sm'>AWAY</div>
          <div class='data-text disadvantage'>44.4%</div>
        </div>
        <div class="item-text font-weight-semi-bold padding-all-sm">FG%</div>
      </div>

      <div class="stat-item col xs12 m2 text-center">
        <div class="item-rect home-team-rect">
          <div class='data-rect padding-all-sm'>HOME</div>
          <div class='data-text'>25%</div>
        </div>
        <div class="item-rect away-team-rect">
          <div class='data-rect padding-all-sm'>AWAY</div>
          <div class='data-text disadvantage'>30%</div>
        </div>
        <div class="item-text font-weight-semi-bold padding-all-sm">3P%</div>
      </div>

      <div class="stat-item col xs12 m2 text-center">
        <div class="item-rect home-team-rect">
          <div class='data-rect padding-all-sm'>HOME</div>
          <div class='data-text'>80%</div>
        </div>
        <div class="item-rect away-team-rect">
          <div class='data-rect padding-all-sm'>AWAY</div>
          <div class='data-text disadvantage'>75%</div>
        </div>
        <div class="item-text font-weight-semi-bold padding-all-sm">FT%</div>
      </div>
    </div>
  </div>
</div>
