<div class="section title-section" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col xs12">
                <h1 class="reverse-text-color center-on-small-only">Match Header</h1>
            </div>
        </div>
    </div>
</div>
<h3>FULL MATCH HEADER<small> Must be full page</small></h3>
<div class="match-header-section reverse-text-color">
  <div class="container">
      <div class="row">
          <div class="col xs3 offset-m1 text-center">
            <div class='match-header-team-logo'>
              <img src="http://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/tor.png" alt="">
              <div><strong>Team</strong></div>
              <div>2 - 1</div>
            </div>
          </div>
          <div class="col xs6 m4 match-header-game-state text-center">
            <div>Final</div>
            <div class="match-header-game-score"><span>54</span> <span class="score-divider">|</span> <span class='grey-text text-lighten-1'>52</span></h2></div>
            <div class="match-header-game-time">10:30 am, 8/26/2016</div>
          </div>
          <div class="col xs3 text-center">
            <div class='match-header-team-logo'>
              <img src="http://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/tor.png" alt="">
              <div><strong>Team</strong></div>
            </div>
          </div>
      </div>
  </div>
</div>
<h3>STACKED MATCH HEADER <small> Add stacked in .match-header-section</small></h3>
<div class="match-header-section stacked reverse-text-color">
  <div class="container">
      <div class="row">
          <div class="col xs3 offset-m1 text-center">
            <div class='match-header-team-logo'>
              <img src="http://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/tor.png" alt="">
              <div><strong>Team</strong></div>
              <div>2 - 1</div>
            </div>
          </div>
          <div class="col xs6 m4 match-header-game-state text-center">
            <div>Final</div>
            <div class="match-header-game-score"><span>54</span> <span class="score-divider">|</span> <span class='grey-text text-lighten-1'>52</span></h2></div>
            <div class="match-header-game-time">10:30 am, 8/26/2016</div>
          </div>
          <div class="col xs3 text-center">
            <div class='match-header-team-logo'>
              <img src="http://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/tor.png" alt="">
              <div><strong>Team</strong></div>
            </div>
          </div>
      </div>
  </div>
</div>
