<div class="section title-section" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="white-text center-on-small-only">Table Example</h1>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col s12 m9 l10">

          <div id="section-roboto" class="section scrollspy">
            <h3>Short table <small>(48px cell heights)</small></h3>
            <!-- Start of Table 1 -->
            <div class="bootgrid-container mar-bottom-lg">
              <table id="bootgrid-1" class="table table-short bootgrid-table js-psbootgrid">
                <thead>
                  <tr>
                    <th data-css-class="fixed-cell" data-header-css-class="fixed-cell" data-column-id="name" data-formatter="text" data-visible-in-selection="false">Name</th>
                    <th data-column-id="mls_id" data-type="numeric" data-identifier="true">MLS ID</th>
                    <th data-column-id="office_activity">Office Activity %</th>
                    <th data-column-id="allow" data-formatter="select-allow">Allow</th>
                    <th data-column-id="activity_range">Activity Range</th>
                    <th data-column-id="status" data-formatter="link">Status</th>
                    <th data-column-id="about_me">About me</th>
                    <th data-column-id="address">Address</th>
                    <th data-column-id="areas_served">Areas served</th>
                    <th data-column-id="background_photo">Background photo</th>
                    <th data-column-id="bio">Bio</th>
                    <th data-column-id="color_accent">Color accent</th>
                    <th data-column-id="email">Email</th>
                    <th data-column-id="is_a_realtor">Is a REALTOR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ronald Cruz asdfa asdf</td>
                    <td>11111</td>
                    <td>86%</td>
                    <td>false</td>
                    <td>$622K - 3.8M</td>
                    <td>{"url":"mailto@ronald.cruz@realtor.com", "text":"ronald.cruz@realtor.com", "target":"_blank"}</td>
                    <td>Hi. I am Ronald Cruz.</td>
                    <td>492 Dearborn Court, Grapeview, Wyoming, 3193</td>
                    <td>Shindler,Tolu,Walland</td>
                    <td >N/A</td>
                    <td>Consequat duis incididunt incididunt eu sint nulla. Aliqua id incididunt Lorem commodo. Ipsum cillum et ea mollit eiusmod sit tempor nulla nisi consectetur minim sunt exercitation proident. Exercitation laboris eiusmod amet reprehenderit quis elit occaecat magna. Tempor ullamco cillum laborum cupidatat id. Exercitation tempor ex reprehenderit incididunt pariatur ad laborum aute.</td>
                    <td >Red</td>
                    <td>meadows.butler@omnigog.org</td>
                    <td>false</td>
                  </tr>

                  <tr>
                    <td>Stevens Cobb</td>
                    <td>12222</td>
                    <td>14%</td>
                    <td>false</td>
                    <td>$123K - 1.8M</td>
                    <td>{"url":"mailto@stevebs.cobb@realtor.com", "text":"stevens.cobb@realtor.com", "target":"_blank"}</td>
                    <td>Hi. I am Stevens Cobb.</td>
                    <td>492 Dearborn Court, Grapeview, Wyoming, 3193</td>
                    <td>Shindler,Tolu,Walland</td>
                    <td >N/A</td>
                    <td>Consequat duis incididunt incididunt eu sint nulla. Aliqua id incididunt Lorem commodo. Ipsum cillum et ea mollit eiusmod sit tempor nulla nisi consectetur minim sunt exercitation proident. Exercitation laboris eiusmod amet reprehenderit quis elit occaecat magna. Tempor ullamco cillum laborum cupidatat id. Exercitation tempor ex reprehenderit incididunt pariatur ad laborum aute.</td>
                    <td >Red</td>
                    <td>meadows.butler@omnigog.org</td>
                    <td>false</td>
                  </tr>

                  <tr>
                    <td>Briana Small</td>
                    <td>13333</td>
                    <td>32%</td>
                    <td>true</td>
                    <td>$453K - 6.7M</td>
                    <td>No email address</td>
                    <td>Hi. I am Briana Small.</td>
                    <td>492 Dearborn Court, Grapeview, Wyoming, 3193</td>
                    <td>Shindler,Tolu,Walland</td>
                    <td >N/A</td>
                    <td>Consequat duis incididunt incididunt eu sint nulla. Aliqua id incididunt Lorem commodo. Ipsum cillum et ea mollit eiusmod sit tempor nulla nisi consectetur minim sunt exercitation proident. Exercitation laboris eiusmod amet reprehenderit quis elit occaecat magna. Tempor ullamco cillum laborum cupidatat id. Exercitation tempor ex reprehenderit incididunt pariatur ad laborum aute.</td>
                    <td >Red</td>
                    <td>meadows.butler@omnigog.org</td>
                    <td>false</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End of Table 1 -->
          </div><%# End Section %>





        </div>
        <div class="col hide-on-small-only m3 l2">
            <ul class="section table-of-contents">
                <li><a href="#section-roboto">Roboto</a></li>
                <li><a href="#section-header">Header</a></li>
                <li><a href="#section-paragraph">Paragraph</a></li>
                <li><a href="#section-blockquotes">Blockquotes</a></li>
                <li><a href="#">List</a></li>
                <li><a href="#">Inline text style</a></li>
                <li><a href="#">Transformation classes</a></li>
                <li><a href="#">Alignment classes</a></li>
                <li><a href="#">Address</a></li>
            </ul>
        </div>
    </div>
</div>
