<div class="section title-section" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col xs12">
                <h1 class="white-text center-on-small-only">Typography</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col xs12 m9 l10">

          <div id="section-roboto" class="section scrollspy">
            <h2>Roboto</h2>
            <div>
              The standard font Material Design uses is Roboto. Roboto fonts will be downloaded from Google CDN.
              <pre class="language-css">$roboto-font-path: "fonts/roboto/" !default;</pre>
            </div>
            <div>
              Font weight 300 is default across the site.
              <div class="card-panel">
                <p class="font-weight-normal">Font Weight : 300</p>
                <p class="font-weight-semi-bold">Font Weight : 400</p>
                <p class="font-weight-bold">Font Weight : 700</p>
              </div>
            </div>
          </div><%# End Section %>

          <div id="section-header" class="section margin-top-lg">
            <h2>Header</h2>
            <div>
              <p>6 header tags different sizes.</p>
              <p>Margin is defined as <code class="language-markup">margin: ($fontsize / 2) 0 ($fontsize / 2.5) 0;</code></p>
              <p>Line height is 1.1</p>
              <div class="card-panel">
                <h1>Heading h1</h1>
                <h2>Heading h2</h2>
                <h3>Heading h3</h3>
                <h4>Heading h4</h4>
                <h5>Heading h5</h5>
                <h6>Heading h6</h6>
                <p>Normal Text</p>
              </div>

            </div>
          </div><%# End Section %>

          <div id="section-paragraph" class="section margin-top-lg">
            <h2>Paragraph</h2>
            <div>
              Global default font-size is 14px, with a line-height of 1.428. This is applied to the <code class="language-markup">body</code> and all paragraphs. In addition, <code class="language-markup">p</code> (paragraphs) receive a bottom margin of half their computed line-height (10px by default).
              <div class="card-panel">
                <p>
                  Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                </p>
                <p>
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
                <p>
                  Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit
                </p>
              </div>
              <pre class="language-html">
&lt;p>
  This is a paragraph.
&lt;/p>
              </pre>

            </div>
          </div><%# End Section %>

          <div id="section-blockquotes" class="section margin-top-lg">
            <h2 class="header">Blockquotes</h2>
            <p>
              Blockquotes are mainly used to give emphasis to a quote or citation.
              </p>
            <blockquote>
              This is an example quotation that uses the blockquote tag.
              <br>Here is another line to make it look bigger.
            </blockquote>
            <pre class="language-html">
&lt;blockquote>
  This is an example quotation that uses the blockquote tag.
&lt;/blockquote>
            </pre>
          </div><%# End Section %>



        </div>
        <div class="col hide-on-small-and-down m3 l2">
            <ul class="section table-of-contents">
                <li><a href="#section-roboto">Roboto</a></li>
                <li><a href="#section-header">Header</a></li>
                <li><a href="#section-paragraph">Paragraph</a></li>
                <li><a href="#section-blockquotes">Blockquotes</a></li>
                <li><a href="#">List</a></li>
                <li><a href="#">Inline text style</a></li>
                <li><a href="#">Transformation classes</a></li>
                <li><a href="#">Alignment classes</a></li>
                <li><a href="#">Address</a></li>
            </ul>
        </div>
    </div>
</div>
