.global-nav{
  .brand-logo{
    top: 0;
    bottom: 0;
    img{
      height: 80%;
    }
  }
}

.global-nav-footer{
  color: #fff;
  background-color: $primary-color;
  width: 100%;
  padding: 30px 10px;
}
