.global-nav{
  .brand-logo{
    top: 0;
    bottom: 0;
    img{
      height: 80%;
    }
  }
  .nav-wrapper.row{
    margin: 0;
  }
  .side-nav .team-logo img{
    height:80%;
    margin-top: 6px;
  }
}

.global-nav-footer{
  color: #fff;
  background-color: $primary-color;
  width: 100%;
  padding: 30px 10px;
}
