<div class="container">
  <h1>Import Youtube video list</h1>
  <section>
    <input id='video-list-id' type="text" name="" value="" placeholder="Youtube VideoList ID">
    <button id='video-import-submit' class='btn'>Fetch</button>
  </section>
  <section>
    <div id="playlist-result">
      <h3 id="no-result">

      </h3>
    </div>

  </section>
</div>
