<nav class="global-nav">
  <div class="container">
    <div class="nav-wrapper row">
      <div class="col xs12">
        <a href="#!" class="brand-logo"><%= image_tag("logo-mixed.png", class: 'margin-top')%></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars icon-space-left-lg icon-space-right-lg"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="">LSJ</a></li>
          <li><a href="">Players</a></li>
          <li><a href="">Schedule</a></li>
          <li><a href="">Results</a></li>
          <li><a href="">Stat</a></li>
          <li><a href=""></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
        </ul>
      </div>
    </div>
  </div>
</nav>
