<div class="row">
  <div class="col xs12">
    <ul class="tabs match-tabs">
      <li class="tab col xs4"><a href="#teamstat">Team Stat</a></li>
      <li class="tab col xs4"><a class="active" href="#boxscore">Box Score</a></li>
      <li class="tab col xs4"><a href="#playbyplay">Play By Play</a></li>
    </ul>
  </div>
</div>
