<div class="section title-section" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col xs12">
                <h1 class="reverse-text-color center-on-small-only">Card Panel</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col xs12 m9 l10">
            <div id="basic-card-panel" class="section scrollspy">
              <h2>Basic Card Panel</h2>
              <div class="card-panel">
                <div class="card-panel-header center-on-small-only">
                  <h3 class="reverse-text-color">Card title</h3>
                </div>
                <div class="card-panel-subheader">subheader</div>
                <div class="card-panel-content">content</div>
                <div class="card-panel-subfooter">subfooter</div>
                <div class="card-panel-footer">
                  <a class="btn-flat">Button</a>
                  <a class="btn-flat">Button</a>
                </div>
              </div>
            </div>
        </div>
        <div class="col hide-on-small-and-down m3 l2">
            <ul class="section table-of-contents">
                <li><a href="#basic-card-panel">Basic Card Panel</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>
</div>
