<div class="section title-section" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col xs12">
                <h1 class="reverse-text-color center-on-small-only">Match Cards</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col xs12 m9 l10">
          <%# Schedule Match Card %>
          <div id="schedule-match-card" class="section scrollspy">
            <h2 class="header">Schedule Match Card</h2>
            <div class="">
              <div class="card horizontal match-card match-card-schedule">
                <div class="aspect-content">
                  <div class="team-logo">
                    <%= image_tag('design_guide/team_logo.svg') %>
                  </div>
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <h3 class='no-margin margin-bottom'>Detroit Pistons</h3>
                    <p><strong>10:30 AM, 10/27/2016</strong></p>
                    <p>Stadium Address</p>

                  </div>
                  <div class="card-action">
                    <a href="#">FULL GAME INFO</a>
                    <br class="hide-on-med-and-up">
                    <a href="#">ADD TO CALENDER</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Player Basic Card HTML -->
            <pre class="language-html">
  &lt;div class="card horizontal match-card match-card-schedule">
    &lt;div class="aspect-content">
      &lt;div class="team-logo">
        &lt;img>
      &lt;/div>
    &lt;/div>
    &lt;div class="card-stacked">
      &lt;div class="card-content">
        &lt;h3 class='no-margin margin-bottom'>Detroit Pistons&lt;/h3>
        &lt;p>&lt;strong>10:30 AM, 10/27/2016&lt;/strong>&lt;/p>
        &lt;p>Stadium Address&lt;/p>

      &lt;/div>
      &lt;div class="card-action">
        &lt;a href="#">FULL GAME INFO&lt;/a>
        &lt;br class="hide-on-med-and-up">
        &lt;a href="#">ADD TO CALENDER&lt;/a>
      &lt;/div>
    &lt;/div>
  &lt;/div>
            </pre>
          </div><%# End of section %>


          <%# Match Card Simple Result %>
          <div id="match-card-simple-result" class="section scrollspy">
            <h2 class="header">Match Card - Simple Result</h2>
            <div class="">
              <div class="card horizontal match-card match-card-result-simple">
                <div class="aspect-content">
                  <div class="team-logo">
                    <%= image_tag('design_guide/team_logo.svg') %>
                  </div>
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <h5 class='display-inline'>Detroit Pistons</h5>
                    <br class="hide-on-med-and-up">
                    <span>10/05/2016</span>
                    <h2> W 45 - 44</h2>
                  </div>
                  <div class="card-action">
                    <a href="#">FULL GAME INFO</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Match Card Simple Result HTML -->
            <pre class="language-html">
  &lt;div class="card horizontal match-card match-card-result-simple">
    &lt;div class="aspect-content">
      &lt;div class="team-logo">
        &lt;img>
      &lt;/div>
    &lt;/div>
    &lt;div class="card-stacked">
      &lt;div class="card-content">
        &lt;h5 class='display-inline'>Detroit Pistons&lt;/h5>
        &lt;br class="hide-on-med-and-up">
        &lt;span>10/05/2016&lt;/span>
        &lt;h2> W 45 - 44&lt;/h2>
      &lt;/div>
      &lt;div class="card-action">
        &lt;a href="#">FULL GAME INFO&lt;/a>
      &lt;/div>
    &lt;/div>
  &lt;/div>
            </pre>
          </div><%# End of section %>



          <%# Match Card Detail Result %>
          <div id="match-card-detail-result" class="section scrollspy">
            <h2 class="header">Match Card - Detail Result</h2>
            <div class="">
              <div class="card horizontal match-card match-card-result-detail">
                <div class="aspect-content">
                  <div class="team-logo">
                    <%= image_tag('design_guide/team_logo.svg') %>
                  </div>
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <div class="col s6 no-padding">
                      <h5 class='display-inline'>Detroit Pistons, 10/05</h5>
                      <h4 class='no-margin'> W 45 - 44</h4>
                      <div>
                        <table>
                          <thead>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td></td>
                          </thead>
                          <tr>
                            <td>LSJ</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td>OPPO</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col s6 no-padding">
                      3 People
                    </div>
                  </div>
                  <div class="card-action">
                    <a href="#">FULL GAME INFO</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Match Card Simple Result HTML -->
            <pre class="language-html">
  &lt;div class="card horizontal match-card match-card-result-simple">
    &lt;div class="aspect-content">
      &lt;div class="team-logo">
        &lt;img>
      &lt;/div>
    &lt;/div>
    &lt;div class="card-stacked">
      &lt;div class="card-content">
        &lt;h5 class='no-margin margin-bottom display-inline'>Detroit Pistons&lt;/h5>
        &lt;br class="hide-on-med-and-up">
        &lt;span>10/05/2016&lt;/span>
        &lt;h2> W 45 - 44&lt;/h2>
      &lt;/div>
      &lt;div class="card-action">
        &lt;a href="#">FULL GAME INFO&lt;/a>
      &lt;/div>
    &lt;/div>
  &lt;/div>
            </pre>
          </div><%# End of section %>

        </div>
        <div class="col hide-on-small-and-down m3 l2">
            <ul class="section table-of-contents">
                <li><a href="#section-roboto">Schedule Match Card</a></li>
                <li><a href="#section-header">Result Match Card Simple</a></li>
                <li><a href="#section-paragraph">Result Match Card detailed</a></li>
                <li><a href="#section-blockquotes">Blockquotes</a></li>
                <li><a href="#">List</a></li>
                <li><a href="#">Inline text style</a></li>
                <li><a href="#">Transformation classes</a></li>
                <li><a href="#">Alignment classes</a></li>
                <li><a href="#">Address</a></li>
            </ul>
        </div>
    </div>
</div>
