<div class="section title-section" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col xs12">
                <h1 class="reverse-text-color center-on-small-only">Match PlayByPlay</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col xs12">
        <div class="card-panel play-by-play-section">
          <div class="card-panel-header center-on-small-only">
            <h3 class="reverse-text-color">Play By Play</h3>
          </div>
          <div class="card-panel-content">
            <div class='playbyplay-quarter-filter text-center'>
              <a class="btn-flat">All</a>
              <a class="btn-flat">Q1</a>
              <a class="btn-flat">Q2</a>
              <a class="btn-flat">Q3</a>
              <a class="btn-flat">Q4</a>
            </div>
            <div class="playbyplay-team fake-row">
              <div class="col xs5 text-align-right">Team A</div>
              <div class="col xs2"></div>
              <div class="col xs5 text-align-left">Team A</div>
            </div>
            <div class="playbyplay-content">
              <div id='q1'>
                <div class="playbyplay-item item-quarter">
                  <h4 class='text-center'>Start of Q1</h4>
                </div>
                <div class="playbyplay-item item-left fake-row">
                  <div class="col xs7 s5 offset-xs1 text-align-right">MISS Marc Morris 19' Jump Shot</div>
                  <div class="col xs3 s2 text-center">0 - 0</div>
                </div>
                <div class="playbyplay-item item-right fake-row">
                  <div class="col xs3 s2 offset-xs1 offset-s5 text-center">0 - 0</div>
                  <div class="col xs7 s5 text-align-left">Gibson 14' Jump Shot (2 PTS)</div>
                </div>
                <div class="playbyplay-item item-right fake-row">
                  <div class="col xs3 s2 offset-xs1 offset-s5 text-center">0 - 0</div>
                  <div class="col xs7 s5 text-align-left">Gibson 14' Jump Shot (2 PTS)</div>
                </div>
              </div>
              <div id='q1'>
                <div class="playbyplay-item item-quarter">
                  <h4 class='text-center'>Start of Q1</h4>
                </div>
                <div class="playbyplay-item item-left fake-row">
                  <div class="col xs7 s5 offset-xs1 text-align-right">MISS Marc Morris 19' Jump Shot</div>
                  <div class="col xs3 s2 text-center">0 - 0</div>
                </div>
                <div class="playbyplay-item item-right fake-row">
                  <div class="col xs3 s2 offset-xs1 offset-s5 text-center">0 - 0</div>
                  <div class="col xs7 s5 text-align-left">Gibson 14' Jump Shot (2 PTS)</div>
                </div>
                <div class="playbyplay-item item-right fake-row">
                  <div class="col xs3 s2 offset-xs1 offset-s5 text-center">0 - 0</div>
                  <div class="col xs7 s5 text-align-left">Gibson 14' Jump Shot (2 PTS)</div>
                </div>
              </div>
              <div id='q1'>
                <div class="playbyplay-item item-quarter">
                  <h4 class='text-center'>Start of Q1</h4>
                </div>
                <div class="playbyplay-item item-left fake-row">
                  <div class="col xs7 s5 offset-xs1 text-align-right">MISS Marc Morris 19' Jump Shot</div>
                  <div class="col xs3 s2 text-center">0 - 0</div>
                </div>
                <div class="playbyplay-item item-right fake-row">
                  <div class="col xs3 s2 offset-xs1 offset-s5 text-center">0 - 0</div>
                  <div class="col xs7 s5 text-align-left">Gibson 14' Jump Shot (2 PTS)</div>
                </div>
                <div class="playbyplay-item item-right fake-row">
                  <div class="col xs3 s2 offset-xs1 offset-s5 text-center">0 - 0</div>
                  <div class="col xs7 s5 text-align-left">Gibson 14' Jump Shot (2 PTS)</div>
                </div>
              </div>
              <div id='q1'>
                <div class="playbyplay-item item-quarter">
                  <h4 class='text-center'>Start of Q1</h4>
                </div>
                <div class="playbyplay-item item-left fake-row">
                  <div class="col xs7 s5 offset-xs1 text-align-right">MISS Marc Morris 19' Jump Shot</div>
                  <div class="col xs3 s2 text-center">0 - 0</div>
                </div>
                <div class="playbyplay-item item-right fake-row">
                  <div class="col xs3 s2 offset-xs1 offset-s5 text-center">0 - 0</div>
                  <div class="col xs7 s5 text-align-left">Gibson 14' Jump Shot (2 PTS)</div>
                </div>
                <div class="playbyplay-item item-right fake-row">
                  <div class="col xs3 s2 offset-xs1 offset-s5 text-center">0 - 0</div>
                  <div class="col xs7 s5 text-align-left">Gibson 14' Jump Shot (2 PTS)</div>
                </div>
              </div>

              <div id="end">
                <div class="playbyplay-item item-quarter">
                  <h4 class='text-center'>Game Over</h4>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>

  </div>

</div>
