<div class="section title-section" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col xs12">
                <h1 class="reverse-text-color center-on-small-only">Match Boxscore</h1>
            </div>
        </div>
    </div>
</div>

<div class="match-boxscore container">
  <div class="match-boxscore-header">
    <h3 class="center-on-small-only">Team Boxscore</h3>
    <div class="bootgrid-container bootgrid-stat-full first-item-fixed boxscore without-header without-footer pos-relative">
      <table id="match_boxscore_table" class="bootgrid-table">
        <thead>
          <tr>
            <th data-css-class="fixed-cell" data-identifier="true" data-header-css-class="fixed-cell" data-column-id="name" data-formatter="text" data-visible-in-selection="false"></th>
            <th data-column-id="position">P</th>
            <th data-column-id="point" data-type="numeric">PTS</th>
            <th data-column-id="assist" data-type="numeric">AST</th>
            <th data-column-id="reb" data-type="numeric">REB</th>
            <th data-column-id="oreb" data-type="numeric">OREB</th>
            <th data-column-id="dreb" data-type="numeric">DREB</th>
            <th data-column-id="fg" >FGM-FGA</th>
            <th data-column-id="fg_per">FG%</th>
            <th data-column-id="3pt" >3PTM-3PTA</th>
            <th data-column-id="3pt_per">3PT%</th>
            <th data-column-id="fg" >FTM-FTA</th>
            <th data-column-id="fg_per">FT%</th>
            <th data-column-id="blk" data-type="numeric">BLK</th>
            <th data-column-id="stl" data-type="numeric">STL</th>
            <th data-column-id="tov" data-type="numeric">TO</th>
            <th data-column-id="pf" data-type="numeric">PF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>M. Ellis</td>
            <td>G</td>
            <td>8</td>
            <td>7</td>
            <td>7</td>
            <td>1</td>
            <td>6</td>
            <td>3-11</td>
            <td>27.3%</td>
            <td>1-1</td>
            <td>100%</td>
            <td>2-4</td>
            <td>50%</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
          </tr>
          <tr>
            <td>M. Brown</td>
            <td>G</td>
            <td>1</td>
            <td>3</td>
            <td>4</td>
            <td>3</td>
            <td>8</td>
            <td>3-11</td>
            <td>27.3%</td>
            <td>1-1</td>
            <td>100%</td>
            <td>2-4</td>
            <td>50%</td>
            <td>4</td>
            <td>2</td>
            <td>5</td>
            <td>2</td>
          </tr>
          <tr>
            <td>M. Curry</td>
            <td>G</td>
            <td>8</td>
            <td>7</td>
            <td>7</td>
            <td>1</td>
            <td>6</td>
            <td>3-11</td>
            <td>27.3%</td>
            <td>1-1</td>
            <td>100%</td>
            <td>2-4</td>
            <td>50%</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
          </tr>
          <tr>
            <td>M. Harden</td>
            <td>G</td>
            <td>1</td>
            <td>3</td>
            <td>4</td>
            <td>3</td>
            <td>8</td>
            <td>3-11</td>
            <td>27.3%</td>
            <td>1-1</td>
            <td>100%</td>
            <td>2-4</td>
            <td>50%</td>
            <td>4</td>
            <td>2</td>
            <td>5</td>
            <td>2</td>
          </tr>
          <tr>
            <td>M. Dinghua</td>
            <td>G</td>
            <td>8</td>
            <td>7</td>
            <td>7</td>
            <td>1</td>
            <td>6</td>
            <td>3-11</td>
            <td>27.3%</td>
            <td>1-1</td>
            <td>100%</td>
            <td>2-4</td>
            <td>50%</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
          </tr>
          <tr>
            <td>M. English</td>
            <td>G</td>
            <td>1</td>
            <td>3</td>
            <td>4</td>
            <td>3</td>
            <td>8</td>
            <td>3-11</td>
            <td>27.3%</td>
            <td>1-1</td>
            <td>100%</td>
            <td>2-4</td>
            <td>50%</td>
            <td>4</td>
            <td>2</td>
            <td>5</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
