<div class="player-header-section">
    <div class="container">
          <div class="player-header-content pos-relative">
              <div class="player-header-image">
                  <%= image_tag('design_guide/player_image.png', class: 'activator') %>
              </div>
              <div class="content-wrap padding-all reverse-text-color">

                  <div class="player-header-name">
                      <h1><%= player.name%></h1>
                      <h3>#26 Center</h3>
                      <span>183 cm</span><span> / </span><span>80 kg</span><span> / </span><span>Age 25</span>
                  </div>


                  <div class="player-header-stat padding-bottom">
                      <div class="stat-item"><span>PPG</span>32.1</div>
                      <div class="stat-item"><span>PPG</span>32.1</div>
                      <div class="stat-item"><span>PPG</span>32.1</div>
                      <div class="stat-item hide-on-med-and-down"><span>PPG</span>32.1</div>
                      <div class="stat-item hide-on-med-and-down"><span>PPG</span>32.1</div>
                      <div class="stat-item hide-on-med-and-down"><span>PPG</span>32.1</div>
                  </div>
              </div>
              <div class="player-header-number hide-on-small-and-down">26</div>
          </div>
    </div>
</div>
