<div class="row">
  <div class="col xs12">
    <ul class="tabs player-tabs">
      <li class="tab col xs4"><a href="#playerbio">Bio</a></li>
      <li class="tab col xs4"><a class="active" href="#playerstat">Stat</a></li>
      <li class="tab col xs4"><a href="#playergamelog">Gamelog</a></li>
    </ul>
  </div>
</div>
