<div class="player-bio col xs12" id="playerbio">
  <div class="card-panel player-bio-section">
    <div class="card-panel-header center-on-small-only">
      <h3 class="reverse-text-color">Player Info</h3>
    </div>
    <div class="card-panel-content">
      <h3><%= @player.name %></h3>
      <%= @player.bio %>
    </div>
  </div>
</div>
