<div class="page-content-wrap">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>Players</h1>
      </div>
    </div>
    <div class="row">
      <%= render partial: 'player_snapshot', collection: @in_season_player_collection, as: :player %>
    </div>

    <div class="row">
      <h5></h5>
      <%= render partial: 'player_snapshot', collection: @out_season_player_collection, as: :player %>
    </div>
  </div>
</div>
