<div class="page-content-wrap">
  <div class="container">
    <div class="row">
      <div class="col xs12 l10 offset-l1">
        <h1>Result</h1>
      </div>
    </div>
    <div class="row">
      <%= render partial: 'result_snapshot', collection: @games, as: :game %>
    </div>
  </div>
</div>
